/* here you can put your own css to customize and override the theme */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#curriculumPopup {
		height:350px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	#curriculumPopup {
		height:350px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	#curriculumPopup {
		height:350px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#curriculumPopup {
		height:800px;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#curriculumPopup {
		height:800px;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	#curriculumPopup {
		height:800px;
	}
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	#curriculumPopup {
		height:800px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	#curriculumPopup {
		height:800px;
	}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
	#curriculumPopup {
		height:800px;
	}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
	#curriculumPopup {
		height:800px;
	}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	#curriculumPopup {
		height:350px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	#curriculumPopup {
		height:350px;
	}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	#curriculumPopup {
		height:500px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	#curriculumPopup {
		height:550px;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	#curriculumPopup {
		height:500px;
	}
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	#curriculumPopup {
		height:600px;
	}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	#curriculumPopup {
		height:650px;
	}
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	#curriculumPopup {
		height:550px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	#curriculumPopup {
		height:550px;
	}
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	#curriculumPopup {
		height:550px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    @import "indecss.css";
	#curriculumPopup {
		height:550px;
	}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	#curriculumPopup {
		height:550px;
	}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	#curriculumPopup {
		height:550px;
	}
}

.indexCourse{
    width:30%;
}

.introCourse{
    width:30%;
}

.contentCourse{
    width:30%;
}

.examsCourse{
    width:10%;
}

