@charset "utf-8";
/* Table of Content
==================================================
	1.0 - Transition
	1.1 - Blog
	1.2 - Default Color
	1.3 - Responsive
	1.4 - Skin */
	

	/*--------------------------------------------------------------
	1.0 - Transition
	--------------------------------------------------------------*/
	.blog-entry.entry-date-author-left .entry-date-author .comments i, .blog-entry.blog-medium-style, .pagination ul li a i, .blog-entry.entry-date-left .entry-details .dt-sc-button.transparent span.fa { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }



	/*--------------------------------------------------------------
	1.1 - Blog
	--------------------------------------------------------------*/
	
	.blog-entry { float:left; clear:both; margin:0px; padding:0px; position:relative; width:100%; }
	.blog-entry.with-border {  border:20px solid; }
	
	.related-post > h4 { text-align: center; font-size: 24px; margin-bottom: 30px; font-weight: bold; text-transform: uppercase; }
	
	.blog-entry ul.entry-gallery-post-slider { margin-bottom:0; }
	
	.blog-entry .entry-thumb { float:left; margin:0px 0px 20px; width:100%; position:relative; line-height:0px; }
	.blog-entry .entry-thumb img { max-width:100%; height:auto; }
	.blog-entry .entry-format { position:absolute; left:0px; top:0px; display:none; }
	.blog-entry.type-post .entry-format { display:block; }
	.blog-entry .entry-format a { border:10px solid; border-top:0px; border-left:0px; width:75px; height:75px; text-align:center; line-height:75px; float:left; margin:0px; position:relative; }	
	.blog-entry .entry-format a:before { position:absolute; left:0px; top:0px; width:100%; height:100%; text-align:center; margin:0px; font-family:Stroke-Gap-Icons; font-size:32px; line-height:63px; }
	.blog-entry.type-post.format-video .entry-format { display: none; }	
	
	.blog-entry.format-standard .entry-format a:before, .ico-format.format-standard:before  { content:"\e6bd"; }
	.blog-entry.format-image .entry-format a:before, .ico-format.format-image:before { content:"\e6ac"; }
	.blog-entry.format-gallery .entry-format a:before, .ico-format.format-gallery:before { content:"\e6be"; }
	.blog-entry.format-status .entry-format a:before, .ico-format.format-status:before { content:"\e69e"; }
	.blog-entry.format-link .entry-format a:before, .ico-format.format-link:before { content:"\e67b"; }
	.blog-entry.format-aside .entry-format a:before, .ico-format.format-aside:before { content:"\e684"; }
	.blog-entry.format-quote .entry-format a:before, .ico-format.format-quote:before { content:"\e6b2"; }
	.blog-entry.format-video .entry-format a:before, .ico-format.format-video:before { content:"\e69a"; }
	.blog-entry.format-chat .entry-format a:before, .ico-format.format-chat:before { content:"\e6b3"; }
	.blog-entry.format-audio .entry-format a:before, .ico-format.format-audio:before { content:"\e699"; }	
	
	.blog-entry.sticky { background: #f9f9f9; box-sizing: border-box; color: #000; padding: 30px; position: relative; }
	.blog-entry.tribe_events .ico-format { display: none; }
	
	.blog-entry .entry-details { clear:both; display:inline-block; width:100%;  }
	
	.blog-entry .entry-meta { font-size:14px; font-weight:300; letter-spacing:0.5px; margin-bottom:7px; }
	
	.blog-entry .entry-title h4 { font-size:18px; text-transform:uppercase; margin-bottom:25px; -ms-word-wrap: break-word; word-wrap: break-word; }
	.blog-entry .entry-body { margin:0px 0px 15px; float:left; clear:both; width:100%; }
	
	.blog-entry.blog-medium-style { overflow:hidden; width:99.5%; }
	.blog-entry.blog-medium-style .entry-thumb { width:53%; margin:0px; overflow:visible; }
	.blog-entry.blog-medium-style .entry-details { float:left; padding:10px 0px 0px 0px; clear:none; }
	.blog-entry.blog-medium-style .entry-thumb ~ .entry-details { width:47%; }
	.blog-entry.blog-medium-style .entry-thumb ~ .entry-details { padding-left:70px; }
	.blog-entry.blog-medium-style .dt-sc-button { margin-bottom:20px; }
	
	.blog-entry.blog-medium-style .entry-format { right:-35px; top:40px; left:inherit; }
	.blog-entry.blog-medium-style .entry-format a { background:#ffffff; border:2px solid #000000; color:#000000; height:70px; line-height:70px; width:70px; }
	.blog-entry.blog-medium-style:hover .entry-format a { color:#ffffff; }
		
	.blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb { width:48%; overflow:hidden; }
	.with-both-sidebar .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb { overflow:visible; }
	.blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details, .blog-entry.blog-medium-style .entry-details { width:100%; }
	.blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb ~ .entry-details { width:52%; }
	
	.blog-entry.blog-medium-style.dt-blog-medium-highlight { background:rgba(0, 0, 0, 0.02); }
	.blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding:30px; }	
	.blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-format { right:0px; top:30px; }
	.blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-format a { border:none; background:#ffffff; color:#000000; }
	.blog-entry.blog-medium-style.dt-blog-medium-highlight:hover .entry-format a { background:#ffffff; }
	
	.blog-entry.blog-medium-style.dt-blog-medium-highlight.dt-sc-skin-highlight .entry-format a { color:#ffffff; }
	
	.blog-entry.entry-date-left .entry-thumb { margin-bottom:30px; }	
	.blog-entry.entry-date-left .entry-details { padding:0px 0px 0px 85px; position:relative; margin:0px 0px 0px; min-height:120px; }	
	.blog-entry.entry-date-left .entry-date, .blog-entry.entry-date-author-left .entry-date-author .entry-date { position:absolute; left:0px; width:70px; text-align:center; top:0px; font-size:30px; }
	.blog-entry.entry-date-left .entry-date span, .blog-entry.entry-date-author-left .entry-date-author .entry-date span { display:inline-block; width:100%; font-size:15px; font-weight:bold; text-transform:uppercase; letter-spacing:1px; padding:5px 0px; margin:10px 0px 0px; border-top:1px solid; border-bottom:1px solid; }
	.blog-entry.entry-date-left .entry-date span { border: none; margin: 0; padding: 0; font-weight: 600; }
	.blog-entry.entry-date-left .entry-date .comments i { margin-right:5px; }
	.blog-entry.entry-date-left .entry-date a { font-size:16px; margin:10px 0px 0px; display:inline-block; width:100%; }
	.blog-entry.entry-date-left .entry-date .comments { margin-top: 10px; }
	
	.blog-entry.entry-date-left.blog-thumb-style .entry-details { min-height:50px; }
	
	.blog-entry.entry-date-left .entry-details .dt-sc-button.transparent:hover span.fa { margin-left: 10px; }
	.blog-entry.entry-date-left .entry-details .dt-sc-button.transparent span.fa { margin-left: 5px; }
	
	.blog-entry.entry-date-left .entry-date { border: 2px solid #e7e7e7; padding: 9px; border-radius: 5px; font-size: 24px; font-weight: bold; line-height: 18px; width: 60px; }
	.blog-entry.entry-date-left .entry-title h4 { line-height: 27px; text-transform: initial; margin-bottom: 10px; }
	
	@media screen and (min-width:0\0) { 
	.blog-entry.entry-date-left .entry-title h4 { text-transform: none; }
	}
	
	.blog-entry.entry-date-left .entry-title h4 a { font-weight: bold; }
	.blog-entry.entry-date-left .entry-meta-data { margin-bottom: 5px; }
	.blog-entry.entry-date-left .entry-body { margin-bottom: 5px; }
	.blog-entry.entry-date-left .entry-meta-data p a { color: #777777; font-weight: bold; font-size: 14px; }
	.blog-entry.entry-date-left .entry-meta-data p i { margin-right: 5px; }
	.blog-entry.entry-date-left .entry-author-comment { display: inline-block; }
	.blog-entry.entry-date-left .entry-author-comment p.author { float: left; margin-bottom: 5px; }
	.blog-entry.entry-date-left .entry-author-comment p.author a { color: #777777; font-weight: bold; }
	.blog-entry.entry-date-left .entry-author-comment .comments { float: right; margin-left: 30px; line-height: 26px; position: relative; }
	.blog-entry.entry-date-left .entry-author-comment .comments a { color: #777777; }
	.blog-entry.entry-date-left .entry-author-comment .comments a span { font-weight: bold; }
	.blog-entry.entry-date-left .entry-author-comment .comments:before { position: absolute; content: "/"; left: -18px; top: 0; }
	
	
	.blog-entry.entry-date-left .entry-body p { color: #777777; font-size: 14px; line-height: 26px; }
	
	.tpl-blog-holder .column { margin-left:0px; margin-right:0px; }
	.tpl-blog-holder .column .blog-entry, .tpl-blog-holder .wpb_column .blog-entry { margin-bottom:35px; }
	.column .blog-entry, .wpb_column .blog-entry { margin-bottom:25px; }
	.column.no-space .blog-entry, .wpb_column.no-space .blog-entry { margin-bottom:0px; }
	
	.blog-entry.entry-date-author-left { padding-left:100px; position:relative;  }
	.blog-entry.entry-date-author-left .entry-date-author { position:absolute; top:0px; left:0px; width:70px; text-align:center; }
	.blog-entry.entry-date-author-left .entry-date-author .entry-date { font-size:30px; width:100%; position:relative; }
	.blog-entry.entry-date-author-left .entry-date-author .entry-author { width:100%; margin-top:15px; padding-bottom:15px; border-bottom:1px solid; clear:both; display:inline-block; }
	.blog-entry.entry-date-author-left .entry-date-author .entry-author img { border-radius:50%; padding-bottom:5px; }
	.blog-entry.entry-date-author-left .entry-date-author .entry-author a { color:#999999; }
	.blog-entry.entry-date-author-left .entry-date-author .comments a { color:#000000; font-size:20px; margin-top:15px; display:inline-block; }
	.blog-entry.entry-date-author-left .entry-date-author .comments i { font-size:30px; display:inline-block; width:100%; }
	
	.ie9 .blog-entry.entry-date-author-left .entry-date-author .entry-date { position:static; }
	
	.blog-entry.entry-date-author-left .entry-thumb { margin-bottom:35px; }
	.blog-entry.entry-date-author-left .entry-details .entry-title h4 { margin-bottom:15px; font-size:15px; font-weight:bold; }
	
	.blog-entry.blog-thumb-style { border-bottom:1px solid; padding-bottom:25px; margin-bottom:25px; }
	.blog-entry.blog-thumb-style.last { border:0px; margin-bottom:0px; padding-bottom:0px; }
	.blog-entry.blog-thumb-style .entry-thumb { width:25%; margin:0px; padding:0px 25px 0px 0px;  }
	.blog-entry.blog-thumb-style .entry-details { width:75%;  margin-top:0px; }
	.blog-entry.blog-thumb-style .entry-title h4 { font-size:16px; font-weight:bold; margin-bottom:10px; text-transform:none; }
	.blog-entry.blog-thumb-style.entry-date-left .entry-details { padding-left:85px; }
	.blog-entry.blog-thumb-style .entry-format a { width:35px; height:35px; line-height:35px; font-size:18px; border:none; }
	.blog-entry.blog-thumb-style .entry-body, .blog-entry.blog-thumb-style .entry-body p { margin-bottom:0px; }
	.blog-entry.blog-thumb-style.entry-date-left .entry-date { width:60px; }
	
	.tpl-blog-holder { float:left; width:100%; clear:both; margin:0px; padding:0px; }
	.tpl-blog-holder.apply-isotope .column { margin-left:0px; }
	
	.desc-wrapper { display:inline-block; }
	
	
	.entry-thumb .bx-wrapper { position:relative; overflow:hidden; }
	.entry-thumb .bx-controls a { top:0px; bottom:0px; margin:auto; position:absolute; color:#ffffff; width:35px; height:50px; font-size:0; opacity:0.6; filter:alpha(opacity=60); background:#ffffff; }
	.entry-thumb .bx-controls a:hover { opacity:1; filter:alpha(opacity=100); }
	.entry-thumb .bx-controls a.bx-prev:before, .entry-thumb .bx-controls a.bx-next:before { content:"\e684"; position:absolute; left:0px; top:0px; width:100%; text-align:center; line-height:50px; color:#000000; font-size:32px; font-family:Pe-icon-7-stroke; }
	.entry-thumb .bx-controls a.bx-prev:before { content:"\e686"; }
	
	.entry-thumb .bx-controls a.bx-prev { left:-35px; }
	.entry-thumb .bx-controls a.bx-next { right:-35px; }		
	.entry-thumb:hover .bx-controls a.bx-prev { left:15px; }
	.entry-thumb:hover .bx-controls a.bx-next { right:15px; }		
	.entry-gallery-post-slider li { padding:0px; display:inline; }
	
	.entry-meta .date, .entry-meta .comments, .entry-meta .author { display:inline-block; }
	.entry-meta .comments i, .entry-meta .author i { color:#888888; font-size:16px; position:relative; top:2px; }
	
	.entry-meta-data { display:inline-block; width:100%; margin:0px 0px 10px; padding:0px; }
	.entry-meta-data p { display:inline-block; margin-right:20px; }
	.entry-meta-data p a, .entry-meta-data p i { color:#000000; font-size:13px; }
	.entry-meta-data p i { margin:0px 8px 0px 0px; font-size:20px; position:relative; top:5px; }
	
	.blog-entry.post_format-post-format-audio .entry-format { display:none; }
	
	/*----*****---- << Blog Columns >> ----*****----*/	
	.page-with-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-half { width:48.9%; }
	.page-with-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-third { width:31.6%; }
	.with-both-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-half { width:48.2%; }
	.with-both-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-third { width:100%; }
	
	.dt-sc-one-third .blog-entry .entry-title h4 { font-size:16px; }
	.dt-sc-one-third .blog-entry .entry-format a:before, .with-both-sidebar .dt-sc-one-half .blog-entry .entry-format a:before, .with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style .entry-format a:before { line-height:50px; font-size:24px; }
	.dt-sc-one-third .blog-entry .entry-format a:before { line-height:55px; }
	.dt-sc-one-third .blog-entry .entry-format a, .with-both-sidebar .dt-sc-one-half .blog-entry .entry-format a, .with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style .entry-format a { width:60px; height:60px; line-height:50px; }
	.dt-sc-one-third .blog-entry .entry-meta, .with-both-sidebar .dt-sc-one-half .blog-entry .entry-meta { font-size:12px; }
	.with-both-sidebar .dt-sc-one-half .blog-entry .entry-title h4 { font-size:14px; line-height: 20px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry .entry-title h4 { font-size:13px; line-height: 20px; font-weight:600; }
	
	.page-with-sidebar .related-post .dt-sc-one-third { width:100%; }
	
	.with-both-sidebar .dt-sc-one-column .blog-entry .entry-meta { font-size:12px; }
	.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style .entry-format { right:-25px; }
	.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style .entry-thumb ~ .entry-details { padding-left:50px; }
	.with-both-sidebar .dt-sc-one-column .blog-entry .entry-title h4 { font-size:14px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry .entry-body p { line-height: 22px; }
	
	.page-with-sidebar .blog-entry.single.blog-medium-style .entry-thumb, .page-with-sidebar .blog-entry.single.blog-medium-style.dt-blog-medium-highlight .entry-thumb  { width:100%; }
	.page-with-sidebar .blog-entry.single.blog-medium-style .entry-details, .page-with-sidebar .blog-entry.single.blog-medium-style.dt-blog-medium-highlight .entry-details { width:100%; }
	.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-format { left:30px; right:inherit; bottom:-25px; top:inherit; } 
	.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding-left:30px; } 
	
	.page-with-sidebar .blog-entry.single.blog-medium-style .entry-format { left:30px; right:inherit; bottom:-35px; top:inherit; } 
	.page-with-sidebar .blog-entry.single.blog-medium-style .entry-details, .page-with-sidebar .blog-entry.single.blog-medium-style.dt-blog-medium-highlight.dt-sc-skin-highlight .entry-details { padding:60px 0px 0px 30px; }
	.page-with-sidebar .blog-entry.single.blog-medium-style.dt-blog-medium-highlight, /* Blog Single - Skin Highlight Remove */.blog-entry.single.blog-medium-style.dt-blog-medium-highlight.dt-sc-skin-highlight { background:none; }
	.page-with-sidebar .blog-entry.single.blog-medium-style.dt-blog-medium-highlight .entry-details { padding:40px 0px 0px 30px; }
	
	.page-with-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-title h4 { font-size:14px; }
	
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-details { padding-left:60px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-date { width:45px; font-size:20px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-date span { font-size:12px; margin-top:5px; padding:2px 0px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-title h4 { font-size:15px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .dt-sc-button { margin:10px 0px 15px -60px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-meta-data { margin-top:0px; }
	
	.dt-sc-one-column .blog-entry.entry-date-author-left .entry-details { min-height:280px; }
	.dt-sc-one-column .blog-entry.entry-date-author-left .entry-thumb ~ .entry-details { min-height:inherit; }
	
	.page-with-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left, .with-both-sidebar .dt-sc-one-half .blog-entry.entry-date-author-left { padding-left:80px; }
	.page-with-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left .entry-date-author, .with-both-sidebar .dt-sc-one-half .blog-entry.entry-date-author-left .entry-date-author { width:55px; }
	.page-with-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left .entry-date-author .entry-date, .with-both-sidebar .dt-sc-one-half .blog-entry.entry-date-author-left .entry-date-author .entry-date { font-size:24px; }
	.page-with-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left .entry-date-author .entry-date span, .with-both-sidebar .dt-sc-one-half .blog-entry.entry-date-author-left .entry-date-author .entry-date span { font-size:12px; }
	.page-with-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left .entry-details, .with-both-sidebar .dt-sc-one-half .blog-entry.entry-date-author-left .entry-details { margin-top:5px; }
	.page-with-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left .entry-details .entry-title h4, .with-both-sidebar .dt-sc-one-half .blog-entry.entry-date-author-left .entry-details .entry-title h4 { font-size:13px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left { padding-left:60px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left .entry-date-author { width:40px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left .entry-date span { margin-top:5px; padding:0px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left .entry-title h4 { font-size:12px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left .entry-meta-data { margin-top:0px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left .entry-date-author .entry-author { margin-top:10px; padding-bottom:5px; }
	
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left .entry-format a { width:45px; height:45px; border-width:5px; }
	.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left .entry-format a:before { line-height:40px; font-size:16px; }
	
	.dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb ~ .entry-details { padding-left:55px; }
	.dt-sc-one-half .blog-entry.blog-medium-style .entry-format { right:-25px; top:20px; }
	.dt-sc-one-half .blog-entry.blog-medium-style .entry-format a { width:50px; height:50px; }
	.dt-sc-one-half .blog-entry.blog-medium-style .entry-format a:before { line-height:50px; font-size:24px; }
	
	.dt-sc-one-half .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding-left:30px; }
	.dt-sc-one-half .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-format { right:0px; }
	
	.page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-meta { font-size:12px; }
	.page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-title h4 { font-size:14px; }
	.page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding-left:40px; }
	.page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb ~ .entry-details { padding-left:0; padding-top:30px; }
	
	.dt-sc-one-half .blog-entry.blog-medium-style .entry-format { right:-18px; top:15px; }
	.page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-format { right:0; }
	.page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-format a, .page-with-sidebar .dt-sc-one-third .blog-entry.blog-medium-style .entry-format a { width:36px; height:36px; }
	.page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-format a:before, .page-with-sidebar .dt-sc-one-third .blog-entry.blog-medium-style .entry-format a:before { line-height:32px; font-size:16px; }
	
	.page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details, .page-with-sidebar.with-both-sidebar .dt-sc-one-half .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding-top:30px; padding-left:30px; }
	
	.with-both-sidebar .dt-sc-one-half .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding:0px 20px 20px; }
	
	.with-both-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb, .dt-sc-one-third .blog-entry.blog-medium-style .entry-thumb { width:100%; }
		
	.dt-sc-one-third .blog-entry.blog-medium-style .entry-thumb ~ .entry-details { width:100%; padding-left:0px; padding-top:30px; }
	.with-both-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-format, .dt-sc-one-third .blog-entry.blog-medium-style .entry-format { bottom: -20px; left:10px; right:inherit; top:inherit; }
	
	.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb, .with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb ~ .entry-details { width:100%; }
	
	.dt-sc-one-half .blog-entry.blog-medium-style .entry-details, .dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb ~ .entry-details, .dt-sc-one-third .blog-entry.blog-medium-style .entry-details { padding-top:0; }
	.dt-sc-one-half .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding-top:30px; }
	
	.page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb, .page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-details { width:100%; }
	
	.dt-sc-one-third .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb { overflow:visible; }
	.dt-sc-one-third .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding-top:30px; }
	.dt-sc-one-third .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb ~ .entry-details, .with-both-sidebar .dt-sc-one-third .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding-top:30px; width:100%; }
	.dt-sc-one-third .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding:30px 20px 20px; }
	
	/* Blog Single - Skin Highlight Remove */
	.blog-entry.single.dt-sc-skin-highlight, .blog-entry.single.dt-sc-skin-highlight .entry-title h4 a, .blog-entry.single.dt-sc-skin-highlight .entry-meta a, .blog-entry.single.dt-sc-skin-highlight .entry-meta-data p a, .blog-entry.single.dt-sc-skin-highlight .entry-meta-data p i { color:#000000; }
	.blog-entry.single.dt-sc-skin-highlight .entry-meta .comments i, .blog-entry.single.dt-sc-skin-highlight .entry-meta .author i { color:#888888; }
	
	/*----*****---- << Blog Author Info >> ----*****----*/	
	
	.author-info { display:block; padding:0px; clear:both; float:left; margin:40px 0px 0px; } 
	.author-info .thumb { width:110px; margin:0px 20px 0px 0px; float:left; position:relative; }
	.author-info .thumb:before { content:""; background-image:url(images/bordered-circle.html); background-repeat:no-repeat; background-size:110px 110px; width:110px; height:110px; position:absolute; left:0px; right:0px; margin:auto; top:6px; z-index:1; }
	.author-info .thumb img { max-width:100%; border-radius:100%; height:auto; }
	.author-info h2 { font-size:20px; font-weight:normal; margin-bottom:30px; text-transform:none; }
	.author-info h3 span { color:#aaaaaa; font-size:14px; }
	.author-info h3 { font-size:18px; }
	
	
	/*----*****---- << Blog Comment Entries >> ----*****----*/	
		
	.commententries { width:100%; float:left; margin:40px 0px 0px; padding:0px; }
	.commententries h3 { font-size:20px; }
	ul.commentlist { float:left; margin:20px 0px 20px 0px; padding:0px 0px 20px 0px; list-style:none; border-top:0px; }
	ul.commentlist li.comment { display:block; float:none; list-style:none; border:none; margin:0px 0px 30px; padding:0px 0px 0px 110px; position:relative; clear:both; }
	ul.commentlist li.pingback { padding-left:0; }
	ul.commentlist li.pingback > p > a { margin-left:5px; }
	
	ul.commentlist li ul.children { margin:10px 0px 10px; padding:0px; float:left; border:none; clear:both; width:100%; }
	ul.commentlist li .respond { margin-left:69px; }
	
	ul.commentlist li .comment-details { position:relative; padding:0px 0px 10px; margin:10px 0px 10px; }
	
	ul.commentlist li .comment-details:before { bottom:0px; content:''; left:0px; position:absolute; width:100%; }
	
	ul.commentlist li .comment-body { margin:10px 0px 0px; } 
	ul.commentlist li .comment-body p { line-height:28px; }
	
	ul.commentlist li .comment-author { left:0px; top:0px; position:absolute; }
	ul.commentlist li .comment-author:before { content:""; background-image:url(images/bordered-circle.html); background-repeat:no-repeat; background-size:110px 110px; width:110px; height:110px; position:absolute; left:0px; right:0px; margin:auto; top:6px; z-index:1; }
	ul.commentlist li .comment-author img { max-width:80px; max-height:80px; float:left; margin:0px; border-radius:80px; }
	ul.commentlist li .author-name > a { font-size:18px; color:#000000; }
	ul.commentlist li .author-name span { font-size:14px; color:#aaaaaa; }
	ul.commentlist li.bypostauthor .author-name { border-bottom: 1px solid #aaaaaa; }
	
	ul.commentlist li .comment-details { display:block; }		
	
	ul.commentlist li .author-name .reply { margin:0px; float:right; }
	ul.commentlist li .reply a { border:1px solid #000000; clear:both; display:inline-block; margin:10px 0px 0px; padding:2px 13px; color:#000000; }
	ul.commentlist li .reply a:hover { color:#ffffff; }
	
	ul.commentlist li #respond { padding-bottom:20px; }		
	
	.comment-respond form { float: left; margin-bottom: 20px; width: 100%; }
	
	.logged-in-as ~ .column { width:100% }

	#respond { clear:both; }
	#respond h3#reply-title small { font-size:12px; text-transform:none; }
	#respond h3#reply-title { margin-bottom:20px; font-size:20px; }
	#respond .dt-sc-one-half p span { width:10%; }
	#respond .dt-sc-one-half textarea { height:123px; }
	#respond p { margin-bottom:15px; display:inline-block; width:100%; }
	
	.comment-body ul li, .comment-body ol li { padding-left:0px; list-style:circle; display:list-item; }		
	
	/*----*****---- << Pagination >> ----*****----*/
	.pagination { clear:both; float:left; width:100%; margin:30px 0px 10px; padding:0px; }
	.pagination ul { float:left; margin:0px; padding:0px; }
	.pagination ul li { float:left; display:inline; margin:0px; padding:0px; }
	.pagination ul li a, .pagination ul li span { color:#000000; font-size:13px; font-weight:600; padding:6px 15px 5px; text-transform:uppercase; letter-spacing:0.5px; border:1px solid; margin:10px 10px 0px 0px; display:inline-block; position:relative; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; transition:all 0.3s; -o-transition:all 0.3s; -ms-transition:all 0.3s; }
	
	.pagination ul li a i { color:#000000; font-size:14px; }
	.pagination ul li a.next i { margin-left:5px; }
	.pagination ul li a.prev i { margin-right:5px; }
	
	.pagination ul li a:hover, .pagination ul li span, .pagination ul li a:hover i { color:#ffffff; }
	
	.pagination .column { margin:0px; }
	.pagination.blog-pagination:empty { display:none; }
	
	
	
	/*--------------------------------------------------------------
	1.2 - Default Color
	--------------------------------------------------------------*/
	.blog-entry.with-border, .blog-entry.blog-medium-style.white-highlight { background:#ffffff; } 
	.blog-entry.blog-thumb-style { border-bottom-color:rgba(0, 0, 0, 0.1); }
	.blog-entry.with-border, .blog-entry .entry-format a { border-color:#fff; }
	
	.blog-entry.entry-date-author-left .entry-date-author .entry-date, .blog-entry.entry-date-author-left .entry-date-author .comments, .blog-entry.entry-date-author-left .entry-date-author .comments i, .blog-entry.entry-date-left .entry-date, .blog-entry.entry-date-left .entry-date a, .blog-entry.entry-date-left .entry-date a i { color:#000000; }
	.blog-entry .entry-format a, .blog-entry.dt-sc-skin-highlight, .blog-entry.dt-sc-skin-highlight .entry-title h4 a, .blog-entry.dt-sc-skin-highlight .entry-meta a, .blog-entry.dt-sc-skin-highlight .entry-meta .comments i, .blog-entry.dt-sc-skin-highlight .entry-meta .author i, .blog-entry.dt-sc-skin-highlight .entry-meta-data p a, .blog-entry.dt-sc-skin-highlight .entry-meta-data p i { color:#ffffff; }
	
	.blog-entry.entry-date-author-left .entry-date-author .entry-author, .blog-entry.entry-date-author-left .entry-date-author .entry-date span { border-color:rgba(0, 0, 0, 0.05); }	
	.blog-entry.dt-sc-skin-highlight .entry-title h4 a:hover, .blog-entry.dt-sc-skin-highlight .entry-meta a:hover, .blog-entry.dt-sc-skin-highlight .entry-meta-data p a:hover { color:#fff; }
	
	.blog-entry .entry-meta a { color:#888888; }
	
	/*----*****---- Dark Overlay & Highlight ----*****----*/
	.dt-sc-dark-bg .blog-medium-style.white-highlight .dt-sc-button.fully-rounded-border:hover { color:#fff; }
	.dt-sc-dark-bg .blog-medium-style.white-highlight { color:#888888; }
	
	
	
	/*--------------------------------------------------------------
	1.3 - Responsive
	--------------------------------------------------------------*/
	
	/*----*****---- << Desktop >> ----*****----*/	
	 @media only screen and (min-width:1200px) and (max-width:1280px) {
		.page-with-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-half { width: 48.8%; }
		.with-both-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-half { width:48.2%; }
	 }
	 
	/* Note: Design for a width of 960px */
    @media only screen and (min-width:992px) and (max-width:1199px) {
		.with-both-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-third, .with-both-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-half  { width:100%; }
		.page-with-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-third { width:48.5%; }
		.with-both-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-third { width:100%; }
		.tpl-blog-holder.apply-isotope .dt-sc-one-third { width:31.8%; }
		
		.tpl-blog-holder.apply-isotope .dt-sc-one-half { width:48.8%; }
		.page-with-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-half { width:48.5%; }
		.with-both-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-half { width:100%; }
		
		.dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb ~ .entry-details { padding-top:30px; }
		
		.with-both-sidebar .blog-entry.blog-medium-style .entry-thumb, .with-both-sidebar .blog-entry.blog-medium-style .entry-details { width:100%; }
		.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style .entry-thumb ~ .entry-details { padding-left:0; margin-top:20px; }
		.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb ~ .entry-details { padding-left:30px; }
		
		.with-both-sidebar .blog-entry.blog-medium-style .entry-details { padding-bottom:20px; }
		.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style .entry-format { right:0; }
		
		.dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb, .dt-sc-one-half .blog-entry.blog-medium-style .entry-details { width:100%; }
		.dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb ~ .entry-details { padding-left:0; }
		.dt-sc-one-third .blog-entry.blog-medium-style { width:99.5%; }
		.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-title { min-height:auto; }
		.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-body, .with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-meta-data { margin-top:0; margin-left:0; width:100%; }
		.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-title h4 { font-size:15px; }
		
		.with-both-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-details, .page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { margin-top:0; }
		.page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb, .page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-details { width:100%; }
		.dt-sc-one-half .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb ~ .entry-details { padding-left:30px; width:100%; padding-top:30px; }	
		.dt-sc-one-half .blog-entry.blog-medium-style .entry-format { right:0; }
		
		.dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-body { display:none; }
		.page-with-sidebar.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb, .page-with-sidebar.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { width:100%; }
	}
	
	/* Note: Design for a width of 768px */
    @media only screen and (min-width:768px) and (max-width:991px) {
		
		.with-both-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-third, .with-both-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-half { width:100%; }
		.page-with-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-third, .page-with-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-half { width:100%; }
		
		.tpl-blog-holder.apply-isotope .dt-sc-one-third { width:49%; }
		.tpl-blog-holder.apply-isotope .dt-sc-one-half, .tpl-blog-holder.apply-isotope .dt-sc-one-third { width:48.5%; }
		
		.with-sidebar .blog-entry.blog-medium-style .entry-thumb, .with-sidebar .blog-entry.blog-medium-style .entry-details { width:100%; }
		.with-sidebar .blog-entry.blog-medium-style .entry-details { padding-bottom:20px; }
		.with-sidebar .blog-entry.blog-medium-style .entry-thumb ~ .entry-details, .page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb ~ .entry-details { padding-left:0; margin-top:20px; }
		.with-sidebar .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details, .page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding-left:30px; margin-top:0; }
		
		.dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb ~ .entry-details { padding-top:30px; }
		
		.with-both-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-details, .with-sidebar .dt-sc-one-third .blog-entry.blog-medium-style .entry-thumb ~ .entry-details, .dt-sc-one-third .blog-entry.blog-medium-style .entry-thumb ~ .entry-details, .with-sidebar .blog-entry.blog-medium-style .entry-thumb ~ .entry-details, .page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb ~ .entry-details { margin-top:0; }
		
		.with-sidebar .blog-entry.blog-medium-style .entry-format { right:0; }
		.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style .entry-format, .dt-sc-one-half .blog-entry.blog-medium-style .entry-format { right:0; }
		.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style .entry-thumb ~ .entry-details, .dt-sc-one-half .blog-entry.blog-medium-style .entry-details { padding-left:0px; margin-top:20px; }
		.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb ~ .entry-details { padding-left:30px; }
		.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb ~ .entry-details, .dt-sc-one-half .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { margin-top:0; }
		
		.dt-sc-one-half .blog-entry.blog-medium-style .entry-details, .dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb, .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb ~ .entry-details { width:100%; }
		.dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb ~ .entry-details { padding-left:0; }
		.dt-sc-one-half .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding-left:30px; }
		.dt-sc-one-half .blog-entry.blog-medium-style .entry-details { margin-top:0; }
		
		.dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb ~ .entry-details { width:52%; }
				
		.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-title { min-height:auto; }
		.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-body, .with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-meta-data { margin-top:0; margin-left:0; width:100%; }
		.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-title h4 { font-size:14px; }
		
		.page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb, .page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-details { width:100%; }
		.blog-entry.blog-medium-style { width:99.4%; }
		
		.dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-body { display:none; }
		.with-sidebar .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb, .with-sidebar .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { width:100%; }
		.page-with-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details, .page-with-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb, .page-with-sidebar.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb, .page-with-sidebar.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { width:100%; }
		.dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding-top:30px; }
		
		.with-both-sidebar #commentform .dt-sc-one-half { width:100%; margin-left:0; }
		.with-both-sidebar #commentform .dt-sc-one-half textarea, .with-both-sidebar #commentform .dt-sc-one-half input { margin-bottom:20px; }
		.with-both-sidebar #commentform .form-submit, .with-both-sidebar #commentform .form-submit .submit { margin-top:0; }
		
		.vc_col-md-6.wpb_column.no-space.dt-sc-two-fifth, .vc_col-md-6.column.no-space.dt-sc-two-fifth { width:50%; }
		
		ul.commentlist li { padding-left:80px; }
		ul.commentlist li .comment-author img { max-width: 60px; max-height: 60px; }
		
	}
	
	/* Common Styles for the devices below 767px width */
	@media only screen and (max-width: 767px) {
		.page-with-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-half, .page-with-sidebar .tpl-blog-holder.apply-isotope .dt-sc-one-third { width:100%; }
		
		.blog-entry.blog-medium-style .entry-thumb, .blog-entry.blog-medium-style .entry-details { width:100%; }
		.blog-entry.blog-medium-style .entry-thumb ~ .entry-details, .with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style .entry-thumb ~ .entry-details, .page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-details { padding-left:0; margin-top: 0px; }
		.dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb ~ .entry-details { padding-left:0; padding-top:30px; }
		
		.blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb ~ .entry-details, .with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb ~ .entry-details, .page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { padding-left:30px; margin-top: 0px; }
		
		.with-both-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-details, .with-sidebar .dt-sc-one-third .blog-entry.blog-medium-style .entry-thumb ~ .entry-details, .dt-sc-one-third .blog-entry.blog-medium-style .entry-thumb ~ .entry-details { margin-top:0; }
		.blog-entry.blog-medium-style .entry-details { padding-bottom:20px; }
		.blog-entry.blog-medium-style .entry-format, .with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style .entry-format, .dt-sc-one-half .blog-entry.blog-medium-style .entry-format { right:0; }
				
		.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-title { min-height:auto; }
		.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-body, .with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-meta-data { margin-top:0; margin-left:0; width:100%; }
		.blog-entry.blog-medium-style .entry-thumb ~ .entry-details, .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb ~ .entry-details { width:100%; }
		
		.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-title h4 { font-size:14px; }
		
		.page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-thumb, .page-with-sidebar .dt-sc-one-half .blog-entry.blog-medium-style .entry-details, .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb, .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details, .page-with-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb, .page-with-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details, .page-with-sidebar.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb, .page-with-sidebar.with-both-sidebar .dt-sc-one-column .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details, .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-thumb, .blog-entry.blog-medium-style.dt-blog-medium-highlight .entry-details { width:100%; }
		.blog-entry.blog-medium-style { width:99.4%;  }
		
		.tpl-blog-holder.apply-isotope .column { margin-bottom:0; }
		
		/* comment */	
		ul.commentlist { font-size:14px; }
		ul.commentlist > li, ul.commentlist > li ul.children > li { padding-left: 40px; }
		ul.commentlist > li ul.children > li { margin-left: -40px; }
		ul.commentlist li .author-name > a { font-size:16px; }
		ul.commentlist li li .comment-author { left: 5px; top:4px; }
		ul.commentlist li .comment-author img { max-height: 30px; max-width: 30px; }
		ul.commentlist > li ul.children > li .comment-author img { max-height: 20px; max-width: 20px; }
		
		ul.commentlist li.depth-1, ul.commentlist li.depth-2, ul.commentlist li.depth-3, ul.commentlist li.depth-4, ul.commentlist li.depth-5 { margin-bottom:0; }
		
		.post-password-form label input { width:100%; }
	}
	
	/* Common Styles for the devices below 479px width */
	@media only screen and (max-width: 479px) {
	
		.blog-entry .entry-format a { width: 60px; height: 60px; line-height: 45px; }
		.blog-entry.blog-medium-style .entry-format a { width: 55px; height: 55px; line-height: 45px; }
		.blog-entry .entry-format a:before { line-height: 45px; font-size: 22px; }
		.blog-entry.blog-medium-style .entry-format a:before { line-height:50px; }
		
		/* latest News */
		.blog-entry.blog-thumb-style { margin-bottom:30px; }
		.blog-entry.blog-thumb-style .entry-thumb { width:100%; margin-right:0; margin-bottom:15px; padding:0; text-align:center; }
		.blog-entry.blog-thumb-style .entry-thumb img { margin:0 auto; width:100%; margin-bottom:5px; }
		.blog-entry.blog-thumb-style .entry-details { width:100%; }
	}
	
	
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
		
		.blog-entry.entry-date-left .entry-details, .blog-entry.blog-thumb-style.entry-date-left .entry-details, .with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-details { padding:0; }
		.blog-entry.entry-date-left .entry-date, .with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .entry-date, .page-with-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left .entry-date-author, .with-both-sidebar .dt-sc-one-half .blog-entry.entry-date-author-left .entry-date-author { margin-bottom: 10px; position:inherit; width: 100%; }
		.with-both-sidebar .dt-sc-one-third .blog-entry.entry-date-left .dt-sc-button { margin-left:0; }
		
		.blog-entry.entry-date-author-left { padding-left:0; }
		.blog-entry.entry-date-author-left .entry-date-author { position:inherit; margin-bottom:20px; display:inline-block; width:100%; }
		.blog-entry.entry-date-author-left .entry-date-author .entry-author a { display:inline-block; width:100%; text-align:center; }
		
		.blog-entry.entry-date-author-left .entry-format a { width: 45px; height: 45px; line-height: 45px; border:0; }
		.blog-entry.entry-date-author-left .entry-format a:before { line-height:45px; }
		
		.page-with-sidebar .dt-sc-one-third .blog-entry.entry-date-author-left, .with-both-sidebar .dt-sc-one-half .blog-entry.entry-date-author-left { padding-left:0; }
		
		.post-nav-container:before { display:none; }
		.post-nav-container .post-prev-link, .post-nav-container .post-next-link { width:100%; text-align:center; }
		.post-nav-container .post-next-link a, .post-nav-container .post-prev-link a { margin:5px 0px; }
	}
	
	/*--------------------------------------------------------------
	1.4 - Skin
	--------------------------------------------------------------*/
	.entry-meta-data p a:hover, .blog-entry.entry-date-left .entry-date a:hover, .blog-entry .entry-meta a:hover, .blog-entry.entry-date-author-left .entry-date-author .comments:hover, .blog-entry.entry-date-author-left .entry-date-author .comments:hover i, .blog-entry.entry-date-author-left .entry-date-author .entry-author a:hover, .blog-entry.entry-date-author-left .entry-date-author .comments a:hover, .dt-sc-dark-bg .blog-medium-style.white-highlight .dt-sc-button.fully-rounded-border { color:#da0000; }
	
	.entry-format a, .blog-entry.blog-medium-style:hover .entry-format a,  .blog-entry.blog-medium-style.dt-blog-medium-highlight.dt-sc-skin-highlight, .blog-entry.blog-medium-style.dt-blog-medium-highlight.dt-sc-skin-highlight .entry-format a, ul.commentlist li .reply a:hover, .post-nav-container .post-next-link a:hover, .post-nav-container .post-prev-link a:hover, .dt-sc-dark-bg .blog-medium-style.white-highlight .dt-sc-button.fully-rounded-border:hover, .pagination ul li a:hover, .pagination ul li span { background:#da0000; }
	
	.blog-entry.entry-date-left .entry-date span, .blog-entry.blog-medium-style:hover .entry-format a, ul.commentlist li .reply a:hover, .post-nav-container .post-next-link a:hover, .post-nav-container .post-prev-link a:hover, .dt-sc-dark-bg .blog-medium-style.white-highlight .dt-sc-button.fully-rounded-border, .pagination ul li a:hover, .pagination ul li span { border-color:#da0000; }